p {
  color: white;
  font-family: sans-serif;
}
h1 {
  color: white;
  font-family: sans-serif;
}
.centered {
  color: #26C2FC;
  font-size: 20px;
}
.grid-container {
  display: grid;
  grid-gap: 1% 1%;
  background-color: #474747;
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
}
/* Navigation Sidebar*/
.grid-item-1 {
  padding: .5rem;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  position: fixed;
  font-family: sans-serif;
  background-color: #474747;
  text-align: center;
  align-content: center;
}
/* Header */

.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
  font-size: 20px;
  color: white;
  font-style: italic;
  align-content: center;
  }
/*body */

.grid-item-3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 15%;
  padding-right: 5%;
}
.grid-item-4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  padding-left: 15%;
  padding-right: 5%;
}
.grid-item-5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  background-color: #474747;
}
.subheader {
 font-size: 18px;
 font-family: sans-serif;
 color: #ecb722;
 font-weight: bold;
 text-decoration: underline;
}
/*lessons page */
.grid-item-form {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-left: 15%;
  padding-right: 5%;
}
.footer {
  background-color: #474747;
  height: auto;
  width: 100%;
}
.responsive {
  width: 100%;
  height: auto;
}
.lessonsp {
  font-family: sans-serif;
  font-size: 18px;
  color: #ecb722;
  font-style: italic;
}
/* unvisited link */
      a:link {
        color: white;
      }
      /* visited link */
      a:visited {
        color: #ecb722;
      }
      /* mouse over link */
      a:hover {
        color: #26C2FC
      }
      /* selected link */
      a:active {
        color: white;
      }
      * {box-sizing: border-box;}

    /* Style the input container */
    .input-container {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
    }
    .leftcontainer {
      width: 15%;
      height: auto;
    }
    .rightcontainer {
      width: 85%;
      height: auto;

    }

    /* Style the form icons */
    .icon {
      padding: 10px;
      background: #03a3df;
      min-width: 50px;
      text-align: center;
      }

    /* Style the input fields */
    .input-field {
      width: 100%;
      padding: 10px;
      outline: none;
    }

    .input-field:focus {
      border: 2px solid #03a3df;
    }

    /* Set a style for the submit button */
    .btn {
      background-color: #ecb722;
      color: #4E4E4E;
      font-weight: bold;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }

    .btn:hover {
      opacity: 1;
    }
/*A11Y*/

/*Fonts changed from White on #ecb722 to #4E4E4E */
/* Client blue #03A3DF changed to #26C2FC */

.skip-main {
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
}
/* code that is here, until the first @media block, will apply to any screen size */
#somethingorother {
width: 800px ;
}

@media screen and (max-width: 320px) {
/* comes into effect for screens less than or equal to 320 pixels */
#somethingorother {
  width: 120px ;
}
}
@media screen and (min-width: 321px) and (max-width: 480px) {
/* comes into effect for screens between 321 and 480 pixels (inclusive) */
#somethingorother {
  width: 320px ;
}
}
@media screen and (min-width: 481px) {
/* comes into effect for screens larger than or equal to 481 pixels */
#somethingorother {
  width: 480px ;
}
}
